@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

/* $green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E; */

.dashboard{
  padding: 0;
  padding-bottom: 10px;
}

.navbar-default {
  color: white;
  background-color: #DE6262!important;
  border-color: none!important;
  margin: 0!important;
  border: none!important;
  border-radius: 0px!important;
  display: block!important;
  padding: 5px 30px 5px 30px;
}

.navbar-nav{
  display: block;
}

.navbar-default .container{
  background: none;
  display: block;
  border: none;
  border-radius: 0%;
  box-shadow: none;
}

.navbar-default .navbar-brand {
  color: rgb(255, 255, 255)!important;
  font-size: 30px!important;
  font-weight: bold;
}

.auth{
  align-items: center;
  display: flex!important;
  min-width: 200px;
  padding: 0!important;
  font-size: 20px;
  color: white!important;
}

.auth:hover{
  cursor: pointer;
  color: #86BB71!important;
}

.auth img{
  height: 50px;
  border-radius: 50%;
  border: 3px solid #86BB71;
  margin-right: 10px;
  width: 50px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.main-message{
  margin: 0 auto;
  background: #444753;
  border-radius: 5px;
}

body {
  background: #C5DDEB;
  color: white;
}

.people-list {
  width: 30%;
  float: left;
}
  .search {
    padding: 20px;
  }
  
  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }
  
  .fa-search {
    position: relative;
    left: -25px;
  }
  
  .ul-data {
    padding: 20px;
    height: 60vh;
    list-style: none;
  }

  .img-message{
    border: none!important;
    height: 250px!important;
    border-radius: 0%!important;
    float: right!important;
    clear: both;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 30px;
  }
    
    
  .navbar li {
      padding-bottom: 0;
    }
    li {
      padding-bottom: 20px;
    }
  .li-click{
    cursor: pointer;
  }
  .li-click .name{
    display: flex;
    vertical-align: middle;
    margin-top: 7px;
    height: 32px;
  }
  .li-click .name i{
    position: relative;
    left: 6px;
    bottom: 11px;
  }
  
  .main-message img {
    height: 50px;
    float: left;
    border-radius: 50%;
    border: 3px solid #E38968;
  }
  
  .about {
    float: left;
    padding-left: 8px;
  }
  
  .status {
    color: #92959E;
    position: relative;
    bottom: 9px;
  }
  


.chat {
  width: 70%;
  float:left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  color: #434651;
}
  .chat-header {
    padding: 10px 20px 10px 20px;
    border-bottom: 2px solid white;
    min-height: 72px;
  }
    img {
      float: left;
    }
    
    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }
    
    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }
    
    .chat-num-messages {
      color: #92959E;
    }
    
    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  
  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 60vh;
  }
    .message-data {
      margin-bottom: 15px;
    }
    
    .message-data-time {
      color: lighten(#92959E, 8%);
      padding-left: 6px;
    }
    
    .message {      
      color: white;
      padding: 5px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      max-width: 60%;
      word-wrap: break-word;
      position: relative;
      clear: both;
    }
    .message:after {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #94C2ED;
        border-width: 10px;
        margin-left: -30px;
      }
    
    
    .my-message {
      background: #94C2ED;
      text-align: right;
    }

    .my-message:after{
      right: 20px;
    }
    
    .other-message {
      background: #86BB71;
      text-align: left;
      float: left;
    }
      .other-message:after {
        border-bottom-color: #86BB71;
        left: 50px;
      }
    
  
  .chat-message {
    padding: 30px;
    display: flex;
    align-items: baseline;
  }
    textarea {
      width: 90%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
      margin-right: 20px;
    }
    
    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
      
    }
    
    .btn-send {
      float: right;
      color: #94C2ED;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;
    }
    .btn-send:hover {
        color: darken(#94C2ED, 7%);
      }

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  
.online {
  color: #86BB71;
}
  
.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.btn-star{
  cursor: pointer;
}


